{% extends 'eLibrary/layout.html' %}

{% block body %}
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h1>{{ book.title }}</h1>

        <br>

        {% if book.description %}
          <p><strong>Description:</strong> {{ book.description }}</p>
        {% endif %}
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Publish Date:</strong> {{ book.publish_date }}</p>

        <p><strong>Logged-in User:</strong> {{ request.user.username }}</p>

        <form method="POST" action="{% url 'eLibrary:book_view' book.title %}">
          {% csrf_token %}

          {% if request.user.is_authenticated %}
            {% if is_watchlisted %}
              <input type="submit" value="Remove from Watchlist" class="btn btn-primary mt-5">
            {% else %}
              <input type="submit" value="Add to Watchlist" class="btn btn-primary mt-5">
            {% endif %}
          {% endif %}
        </form>

        <a href="{% url 'eLibrary:update_book' book.title %}" class="btn btn-secondary mt-2">Update Book</a>
      </div>
    </div>
  </div>
{% endblock %}


