<!-- this page displays all items -->

{% extends 'eLibrary/layout.html' %}

{% block body %}
{% load static %}


<div class="table-container">
    <table class="item-table">
        <tbody>
            {% for book in books %}
                {% if forloop.counter0|divisibleby:5 %}
                    <tr>  <!-- Start a new row after every 5 books -->
                {% endif %}

                <td style="font-size: large; width: 150px; word-wrap: break-word;" title="{{ book.description }}&#10;Author: {{ book.author }}"><a href="{% url 'eLibrary:book_view' book.title %}">
                    {{ book.title }}
                </a></td>

                {% if forloop.counter|divisibleby:5 or forloop.last %}
                    </tr>  <!-- Close the row after every 5 books or if it's the last book -->
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
