.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .item-table {
    
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .item-table td {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .item-table td:hover {
    background-color: #f2f2f2; 
  }